@using Cosmos.Data.Cerulean.Cloud
@using Frontend.Cerulean.Cloud.Components.General;
@if (_form == null)
{
    <Loader />
} else {
    <EditForm OnValidSubmit="@HandleValidSubmit" EditContext="@editContext">
        @foreach (var section in _form.Sections)
        {
            <FormSectionRenderer ElementValues="@ElementValues" Section="section"/>
        }
        <ValidationSummary />
        <button type="submit">Submit</button>
    </EditForm>
}